@{
    Layout = "~/_Layout1.cshtml";
    Page.title = string.Format("Razor - {0}", "Home");
}
@section banner{
    <h1>Home</h1>
    <h2>Shaylynn Brown<br />Shaylynnbrown92@gmail.com<br />Sbrown81</h2>
}

